.digital-ocean-logo{
    height: 30px;
    padding-right: 50px;
    vertical-align: middle;
}

.my-navbar{
    min-height: 50px;
    position: absolute;
    margin-bottom: 20px;
    vertical-align: middle;
}
    