/* utilities */

/* fonts */
.classic-text{
    color: #77829d;
    font-size: 16px;
    font-weight: 600;
}

.bigger-font ,h1{
    font-size: 45px;
    font-weight: 600;
}
.medium-font{
    font-size: 35px;
    font-weight: 600;
}

.email-text .h4, h4,{
    font-weight: 600;
    font-size: 25px;
}
/* fonts */
.block{
    display: block;
}
.w-20{
    width: 20%;
}
.section, .ptb-50{
    padding-top: 25px;
    padding-bottom: 25px;
}
.black-text{
    color: black;
}
.blue-text{
    /* utilities */
    color: #337ab7;
}
.bg-grey{
    background-color: #f3f5f9;
}
/* navbar */
.digital-ocean-logo{
    width: 250px;
    vertical-align: middle;
}
    
.my-navbar{
    line-height: 60px;
    vertical-align: middle;
}
    
.my-navbar .col-xs-4 p{
    display: inline-block;
    padding-left: 2%;
    font-weight: 600;
}

.hamburger{
    border: 1px solid #5c9fff;
    border-radius: 15%;
    padding: 10px;
    color: #5c9fff;
    vertical-align: middle;
    font-size: 20px;
}

.text-right{
    text-align: right;
}

.my-btn-transp{
    background-color: transparent;
    border-color:#5c9fff;
    color: #5c9fff;
}

.navbar-default .navbar-nav>li>a{
    color: black;
}
/* fine navbar */
/* prima section del main */
.bg-jumbo{
    background-image:url(img/bg-banner-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.email-box{
    color:black;

}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 20px;
    padding-left: 20px;
}

.jumbotron{
    padding-top: 15px;
    padding-bottom: 15px;
}
.jumbotron p{
    font-size: 15px;
    padding-top: 10px;
}

.btn-relative{
    position: relative;
}
.googleicon{
    width: 20px;
    position: absolute;
    top: 30%;
    left: 10px;
}
/* fine prima section del main */
/* seconda section del main */
.logo-img{
    width: calc(97%/6);
    height: 100px;
    line-height: 100px;
    display: inline-block;
}
/* fine secondasection del main */
/* terza section del main  */
.my-list-group-item:first-child,
.my-list-group-item:last-child{
    border-radius: 0;
}

.my-list-group-item{
    border: none;
    border-left: 1px solid #77829d;
}
/* terza section del main  */

/* carosel section quarta del main */
.carosel{
   vertical-align: middle; 
   display: inline-block;
}
.carosel-freccia{
    
}
.carosel-section{
    max-width: 700px;
}
.slide-image{
    width: calc(100% - 75px);


}

.carosel-text h4, .carosel-text{
    text-align: center;
    margin-top: 15px;
}
/* carosel section quarta del main */












/* media query mobile */
@media all and (max-width: 767px) {
    .w-20{
        width: 100%;
    }

    .jumbotron{
        margin-top: 15px;
    }

    .logo-img{
        width:calc(97%/2)
    }
}
@media all and (max-width: 1199px){
    .my-navbar .col-xs-4 p{
        padding-left: 0;
        
    }
}
 
   

